<h1>djについて</h1>
<p>
  名前：檀上 未来<br>
  出身地：広島県尾道市<br>
  趣味：音楽ゲーム<br>
  今はCytus2という音楽ゲームアプリにはまっています．<br>
  <a href="https://itunes.apple.com/us/app/cytus-ii/id1290687550?mt=8" target="_blank">cytus2</a><br>
  元混声合唱部，パートはアルトです．ハモリが好きです．
</p>
